<h1>記事投稿</h1>

<%= form_with model: @article do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
    <div>
    <%= form.submit "投稿" %>
    </div>
  <% end %>